.pic-select{
  border: 10px solid red;
}

* {
    box-sizing: border-box;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.gallery-edit img {
    width: auto;
    height: auto;
}

div.gallery-edit  {
    text-align: center;
}

.responsive {
    padding: 0 2px;
    float: left;
    width: 24.99999%;
    margin: 2px 0;
}

.responsive-edit {
    padding: 0 2px;
    float: left;
    width: 49.99999%;
    margin: 2px 0;
}

table { margin: auto; }


@media only screen and (max-width: 1400px){
    .responsive {
        width: 32.99999%;
        margin: 2px 0;
    }
    .responsive-edit {
        width: 49.99999%;
        margin: 2px 0;
    }
}

@media only screen and (max-width: 1000px){
    .responsive {
        width: 49.99999%;
        margin: 2px 0;
    }
    .responsive-edit {
        width: 100%;
        margin: auto;
    }
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 100%;
        margin: 2px 0;
    }
    .responsive-edit {
        width: 100%;
        margin: 2px 0;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}